
<section class="authorpage">
      <div class="search">
    <h1>Author Directory</h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search for authors" autofocus>

    <label class="formgroup">by:
      <select ng-model="authorOrder">
        <option value="name">Name</option>
        <option value="book">book</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
   
  </div>
  <ul class="author" ng-show="query">
<!--Data $scope object named 'authors' being added to ng-repeat loop of partial with filters-->
    <li ng-animate="'animate'" class="author cf" ng-repeat="item in authors | filter:query | orderBy: authorOrder: direction">
     <a href="#/details/{{authors.indexOf(item)}}">
      <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
      <div class="info">
        <h2>{{item.name | uppercase}}</h2>
        <h3>{{item.book}}</h3>
      </div>
      </a>
    </li>
  </ul>
</section>

